.post img {
    width: 100%;
    object-fit: contain;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.post .caption {
    font-weight: normal;
}

.post .post_header {
    padding: 20px;
    display: flex;
}

.post_header .avatar {
    margin-right: 10px;
}

.post {
    background-color: #ffffff;
    border: 1px solid lightgray;
    max-width: 700px;
    margin-bottom: 50px;
}

.add_comment {
    display: flex;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment h6 {
    margin-left: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

.comments {
    margin: 20px;
}